@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');
body{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 16px !important;
}
.btn-outline-secondary {
  font-weight: 500;
  color: black;
  display: block;
  padding: 10px 100px;
  margin: 20px;
  border-radius: 50px;
  border-width: 2px;
  border-color: #5F6367;
}
.btn-primary {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #166FF5 !important;
}
.btn-secondary {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #272224 !important;
}
.btn-light {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #E8E8E8 !important;
}
.althover {
  background-color: white;
}
.althover :hover{
 background-color: black !important;
}

.fs-4 {
  font-size: 14px !important;
}

footer .welcome a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.full-width-button {
    width: 100%;
    margin-bottom: 10px; 
}
.home-footer {
  position: fixed;
  bottom: 0;
}
.install-instructions {
    background-color: #E5FF9C;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.bottom-navbar {
    border-top: 1px solid #ddd;
}
.bottom-navbar .column {
  min-width: 60px; 
  padding: 0 5px;
  flex-wrap: nowrap !important;
}

.gameplanr-container {
    max-width: 400px;
    margin: auto;
    padding-top: 50px; 
}

.team-icon {
    width: 50px; 
    height: auto;
}

.close-button {
    font-size: 25px;
    line-height: 1;
    padding: 0;
    background: none;
    border: none;
    color: #000;
}

.img-btn:hover {
  cursor: pointer;
}

.icon-container {
  position: relative;
  display: inline-block;
}
.icon-container .background-icon {
  display: block; 
}

.icon-container .edit-icon {
  position: absolute;
  margin: 0 7px 7px 0;
  bottom: 0;
  right: 1;
  transform: translate(50%, 50%); 
  border-radius: 50%; 
}

/* invite friends css */
.gradient-border {
  padding: 2px; 
  background-image: linear-gradient(to right, #00B4D8, #89CFF0); 
  border-radius: 20px; 
  display: inline-block; 
}

.gradient-border input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 18px; 
  outline: none; 
}

.react-datepicker-wrapper {
  display: block;
  padding: 0;
  border: 0;
}

.btn-info {
  border-radius: 3px;
  color: white;
  background-color: #717171;
  --bs-btn-color: white;
  --bs-btn-bg: #717171;
  --bs-btn-border-color: #717171;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #717171;
  --bs-btn-hover-border-color: #717171;
  --bs-btn-focus-shadow-rgb: 11,172,204;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #717171;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-info:hover {
  color: white;
  background-color: #717171;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #E5FF9C;
}

.form-control {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.team-logo {
  position: absolute; /* Position the image absolutely */
  top: -15px; /* Adjust this value to let the image hang off the top edge */
  left: 10px; /* Adjust this value as needed, to position the image from the left edge */
  width: 50px !important; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 10; /* Ensure the image is above other elements */
}

@media only screen and (max-width: 600px) {
  .fs-1 {
    font-size: 36px !important;
  }
  .fs-2 {
    font-size: 24px !important;
  }
  .fs-3 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 420px) {
  .btn-outline-secondary {
  font-weight: 500;
  color: black;
  display: block;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 50px;
  border-width: 2px;
  border-color: #5F6367;
}
}