@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px !important;
}
.btn-outline-secondary {
  font-weight: 500;
  color: black;
  display: block;
  padding: 10px 0px;
  margin: 20px 0;
  border-radius: 50px;
  border-width: 2px;
  border-color: #5f6367;
}
.btn-primary {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #166ff5 !important;
}
.btn-secondary {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #272224 !important;
}
.btn-light {
  padding: 10px 0px;
  display: block;
  font-size: 14px;
  border-radius: 25px;
  background-color: #e8e8e8 !important;
}
.althover {
  background-color: white;
}
.althover :hover {
  background-color: black !important;
}

.fs-4 {
  font-size: 14px !important;
}

footer .welcome a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.full-width-button {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.home-footer {
  background-color: #e5ff9c;
  position: fixed;
  bottom: 0;
}
.install-instructions {
  max-width: 400px;
  padding: 20px;
  margin-top: 20px;
  margin: auto;
}

.bottom-navbar {
  border-top: 1px solid #ddd;
}
.bottom-navbar .column {
  min-width: 60px;
  padding: 0 5px;
  flex-wrap: nowrap !important;
}

.gameplanr-container {
  max-width: 400px;
  margin: auto;
  padding-bottom: 50px;
}

.team-icon {
  width: 50px;
  height: auto;
}

.close-button {
  font-size: 25px;
  line-height: 1;
  padding: 0;
  background: none;
  border: none;
  color: #000;
}

.img-btn:hover {
  cursor: pointer;
}

.icon-container {
  position: relative;
  display: inline-block;
}
.icon-container .background-icon {
  display: block;
}

.icon-container .edit-icon {
  position: absolute;
  margin: 0 7px 7px 0;
  bottom: 0;
  right: 1;
  transform: translate(50%, 50%);
  border-radius: 50%;
}

/* invite friends css */
.gradient-border {
  padding: 3px;
  background-image: linear-gradient(to right, #76caf6, #83f5f5);
  border-radius: 10px;
  display: inline-block;
}

.gradient-border input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #eef5ff;
  border-radius: 8px;
  border-width: 15px;
  outline: none;
}

.reg-border {
  padding: 3px;
  background-color: #717171;
  border-radius: 10px;
  display: inline-block;
}

.reg-border input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #eef5ff;
  border-radius: 8px;
  border-width: 15px;
  outline: none;
}

.react-datepicker-wrapper {
  display: block;
  padding: 0;
  border: 0;
}

.btn-info {
  border-radius: 3px;
  color: white;
  background-color: #717171;
  --bs-btn-color: white;
  --bs-btn-bg: #717171;
  --bs-btn-border-color: #717171;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #717171;
  --bs-btn-hover-border-color: #717171;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #717171;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-info:hover {
  color: white;
  background-color: #717171;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: black;
  background-color: #e5ff9c;
}

.form-control {
  border-style: solid;
  border-color: #717171 !important;
  border-width: 2px;
  padding: 10px;
}

.form-select {
  border-style: solid;
  border-color: #717171 !important;
  border-width: 2px;
  padding: 10px;
}

.team-logo {
  position: absolute; /* Position the image absolutely */
  top: -15px; /* Adjust this value to let the image hang off the top edge */
  left: 10px; /* Adjust this value as needed, to position the image from the left edge */
  width: 50px !important; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 10; /* Ensure the image is above other elements */
}

.main-row {
  display: flex;
  width: 343px;
  height: 176px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.row-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.row-title-and-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.col-headline {
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

.col-body {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.TAC {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.035px;
}

@media only screen and (max-height: 700px) {
  .home-footer {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .fs-1 {
    font-size: 36px !important;
  }
  .fs-2 {
    font-size: 24px !important;
  }
  .fs-3 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 370px) {
  .main-row {
    display: flex;
    width: 257.25px;
    height: 132px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    margin-left: 15px;
  }

  .row-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    width: 137.625 !important;
    height: auto !important;
  }

  .row-title-and-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }

  .col-headline {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
  }

  .col-body {
    font-family: "Noto Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }

  .TAC {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.035px;
  }
}
